@model DATN_Ecommerce.Models.Category

@{
    ViewData["Title"] = "Thông tin danh mục" + Model.CatName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class=" breadcrumd-item" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh sách danh mục</a>
            <span class="breadcrumb-item active">Thông tin danh mục : @Model.CatName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin danh mục : @Model.CatName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.CatId</td>
                    </tr>
                    <tr>
                        <td>Tên danh mục:</td>
                        <td>@Model.CatName</td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Mô tả</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Alias:</td>
                        <td>@Model.Alias</td>
                    </tr>
                    <tr>
                        <td>Ordering</td>
                        <td>@Model.Ordering</td>
                    </tr>
                    <tr>
                        <td>Public</td>
                        <td>
                            @if (Model.Published)
                            {
                                <div class="form-group d-flex align-items-center">
                                    <div class="switch m-r-10">
                                        <input type="checkbox" id="switch-3" checked="">
                                        <label for="switch-1"></label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group d-flex align-items-center">
                                    <div class="switch m-r-10">
                                        <input type="checkbox" id="switch-3">
                                        <label for="switch-2"></label>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>MetaKey:</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="200" height="200" src="~/images/category/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
